
<header>
  <div class ="left"> 
  	<h2>Leave Management System</h2>
  </div>
	<% if @user %>
  <div class="right">
		<div class="profile">
  		<%= link_to @user.name, employee_path(@user), class: "nav-link"  %>
  	</div>
  	<div class ="logout">
  		<%= button_to "logout", logout_path, method: :delete, class:'btn'%>
  	</div>
	</div>
	<% end %>
</header>
