
<div class="attendence">
	<div>
		<%= button_to "CHECK IN", attendences_path, method: :post, class:'btn btn-outline-primary' %>
	</div>
	<div>
		<%= button_to "CHECK OUT", attendences_path, method: :post, class:'btn btn-outline-danger' %>
	</div>
</div>

