<div class="content">
	<%= link_to "SIGN UP", new_user_registration_path, class:'btn btn-outline-primary btn-lg p-2 m-4'%>
	<%= link_to "LOGIN", new_user_session_path, class:'btn btn-outline-primary btn-lg p-2 m-4'%>
</div>
