
$color1:#dee2e9;
$color2:#100e0e;
$color3:#49d32d;
$color4:#D8924E;
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smotthing:antailiased;
	scroll-behavior: smooth;
	font-family: 'poppins', sans-serif;	
}
.content{

	width: 100%;
	height: 80vh;
	padding: 5vh;
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction: row;
}
.link{
	color: $color2;
	text-decoration: none;
}

header{
	padding: 3vh 0 3vh 0;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
	.left{
		width: fit-content;
	
	
			
		}
	
	.right{
		width: 20vw;
		display: flex;
		align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
	}
 }
 .click{
	width:100%;
	height:fit-content;
	box-sizing: border-box;
	padding: 6px;	
	border-radius: 1em;
	.primary{
		background-color: $color1;
		border: 2px solid $color2;
		&:hover {
			background-color: $color3;
		}
	}

	.danger{
		background-color: $color1;
		border: 2px solid $color2;
		&:hover {
			background-color: red;
		}
	}
}

.edit_form{
	
	display: flex;
	flex-direction: row;
	flex: nowrap;
}

.attendence{
	width:100%;
	height: 40vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	.btn{
		width: 100%;
	}
}
/*
body{
 
 width:100%;
 background: $color1;
	.container{
		padding: 10px 3vw;
		
	
	 	nav{
			width: 100%;
			height: fit-content;
			background-color: #100e0e;
			padding: 10px 12px;
			border: 1px solid $color2;
			box-sizing: border-box;
			
		 .nav-link{
			 width:fit-content;
			 text-decoration: none;
			 color: $color3;
			 padding: 0 3px;
			 box-sizing: border-box;
			 border:0;
			 &:hover{
			
				color: $color1;
				border: 1px solid $color3;
			}
		}
	 }
	}
}



.nav-link{
	text-decoration: none;
	color: $color2;
	transition: all .3s ease;
	&:hover{
		transform: scale(1.1);
		color: $color3;
 }
}
.form_line{
	width: 30vw;
	height: 10vh;
	font-size: 20px;
	flex-direction: row;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	.form_label{
		width: 50px;
		height: 10vh;
	}
	.form_field{
		width: 100%;
		height: 5vh;
		padding:3px;
		box-sizing: border-box;
		border-radius: 0.6em;
	}
}


.table_block{
	display: flex;
	justify-content: center;
	align-items: center;
	table{
		width:80vw;
		padding:15px 0;
		tr{
			padding: 8px;
			td{
				padding:4px;
				text-align: center;
			}
		}
	}
}*/