<h2>Attendence log</h2>
<% if !@attendences.empty? %>
<table class="table table-striped p-1">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Check-in time</th>
      <th scope="col">Check-out time</th>
			<th scope="col">Duration</th>
			
    </tr>
  </thead>
  <tbody>
     <% @attendences.each do |attendences| %>
  		<tr>
				<td><%= attendences.date %></td>
				<td><%= attendences.created_at.strftime("%I:%M%p") %></td>
  			<td>
        <% if attendences.duration %>
          <%= attendences.updated_at.strftime("%I:%M%p") %></td>
				<% end %>
        <td><%= attendences.duration %></td>
			</tr>
  	<% end %>
  </tbody>
</table>

<% end %>
